body {
  background-color: rgb(18, 64, 100);
}

h1 {
  color: rgb(0, 128, 122);
  margin-left: 20px;
}

p {
  font-size: 30px;
  margin-left: 40px;
}

#testButton {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

#testButton:hover {
  background-color: darkblue;
}

